@function multiple-box-shadow($n, $color) {
  $value: "#{random(2000)}px #{random(2000)}px #{$color}";
  @for $i from 2 through $n {
    $value: "#{$value}, #{random(2000)}px #{random(2000)}px #{$color}";
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(300, #fff);
$shadows-medium: multiple-box-shadow(80, #fff);
$shadows-big: multiple-box-shadow(33, #fff);

$shadows-small-yellow1: multiple-box-shadow(300, #fbf9ac);
$shadows-medium-yellow1: multiple-box-shadow(80, #fbf9ac);
$shadows-big-yellow1: multiple-box-shadow(33, #fbf9ac);

$shadows-small-yellow2: multiple-box-shadow(300, #f9f396);
$shadows-medium-yellow2: multiple-box-shadow(80, #f9f396);
$shadows-big-yellow2: multiple-box-shadow(33, #f9f396);

$smallStarDuration: 100s;
$mediumStarDuration: 150s;
$bigStarDuration: 200s;

@mixin stars($size, $shadows, $animDuration) {
  width: $size;
  height: $size;
  background: transparent;
  box-shadow: $shadows;
  animation: animStar $animDuration linear infinite;
}

html {
  height: 100%;
  overflow: hidden;
  background: #1b2735;
}

.stars-small-white {
  @include stars(1px, $shadows-small, $smallStarDuration);
}

.stars-medium-white {
  @include stars(2px, $shadows-medium, $mediumStarDuration);
}

.stars-big-white {
  @include stars(3px, $shadows-big, $bigStarDuration);
}

.stars-small-yellow1 {
  @include stars(1px, $shadows-small-yellow1, $smallStarDuration * 1.25);
}

.stars-medium-yellow1 {
  @include stars(2px, $shadows-medium-yellow1, $mediumStarDuration * 0.75);
}

.stars-big-yellow1 {
  @include stars(3px, $shadows-big-yellow1, $bigStarDuration * 1.25);
}

.stars-small-yellow2 {
  @include stars(1px, $shadows-small-yellow2, $smallStarDuration * 0.75);
}

.stars-medium-yellow2 {
  @include stars(2px, $shadows-medium-yellow2, $mediumStarDuration * 1.25);
}

.stars-big-yellow2 {
  @include stars(3px, $shadows-big-yellow2, $bigStarDuration * 0.75);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
