@function multiple-box-shadow($n, $color) {
  $value: "#{random(2000)}px #{random(2000)}px #{random(4) + 2}px #{$color}";
  @for $i from 2 through $n {
    $value: "#{$value}, #{random(2000)}px #{random(2000)}px #{random(4) + 2}px #{$color}";
  }

  @return unquote($value);
}

$starColor: #fff;

$shadows-small: multiple-box-shadow(600, $starColor);
$shadows-medium: multiple-box-shadow(150, $starColor);
$shadows-big: multiple-box-shadow(75, $starColor);

$smallStarDuration: 100s;
$mediumStarDuration: 150s;
$bigStarDuration: 200s;

$smallSize: 2px;
$mediumSize: 3px;
$bigSize: 4px;

@mixin stars($size, $shadows, $animDuration) {
  width: $size;
  height: $size;
  background: transparent;
  box-shadow: $shadows;
  animation: animStar $animDuration linear infinite;
}

.stars-small-white {
  @include stars($smallSize, $shadows-small, $smallStarDuration);
}

.stars-medium-white {
  @include stars($mediumSize, $shadows-medium, $mediumStarDuration);
}

.stars-big-white {
  @include stars($bigSize, $shadows-big, $bigStarDuration);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
